{% extends "layout.njk" %}

{% block content %}
       
    <div class="container">
        <h1>Criando receita</h1>
        <form class="first" action="/admin/recipes" id="recipeForm" method="POST">
        {% include "fields.njk"%}
        </form>
    </div>
{% endblock %}
