    <div class="item">
        <div class="recipeNameFirst">Imagem da receita</div>
        <div>
            <input type="url" name="recipe_url" placeholder="http://">
        </div>
    </div>

    <div class="item">
        <div class="recipeName">Nome da receita</div>
        <div>
            <input type="text" name="name" placeholder="">
        </div>
    </div>

    <div id="item">
        <div class="recipeName">Ingredientes</div>
        <div class="recipeIngredients">
            <input type="text" name="ingredients[]" value="" placeholder="Ingrediente" />
        </div>
    </div>
        <button type="button" class="add-ingredient">Adicionar mais um ingrediente</button>

    <div id="itemPrep">
        <div class="recipeName">Modo de Preparo</div>
        <div class="recipeSteps">
            <input type="text" name="preparation" value="" placeholder="Passos" />
        </div>
    </div>
        <button type="button" class="add-step">Adicionar mais um ingrediente</button>


    <div class="item">
        <div class="recipeName">Informações adicionais</div>
        <div>
            <textarea id="recipeForm" class="last" type="text" name="moreInfo" >  </textarea>
        </div>
    </div>

    <button type="submit" action="#">Salvar receita</button>



