    <div class="item">
        <div class="recipeName">Imagem da receita</div>
        <div>
            <input type="url" name="recipe_url" placeholder="http://">
        </div>
    </div>

    <div class="item">
        <div class="recipeName">Nome da receita</div>
        <div>
            <input type="text" name="name" placeholder="">
        </div>
    </div>

    <div class="item">
        <div class="recipeName">Ingredientes</div>
        <div>
            <input type="text" name="ingredients[]">
        </div>
    </div>

    <div class="item">
        <div class="recipeName">Modo de preparo</div>
        <div>
            <input type="text" name="preparation">
        </div>
    </div>

    <div class="item">
        <div class="recipeName">Informações adicionais</div>
        <div>
            <textarea id="recipeForm" class="last" type="text" name="preparation" >  </textarea>
        </div>
    </div>

    <button type="submit" action="#">Salvar receita</button>

