{% extends "layout.njk" %}

{% block content %}
       
        <div class="container">
            <div class="intro">
                <section>
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                </section>
                <img src="assets/119236-OQ05QX-268.png" alt="">
            </div>
            <h2>Mais acessadas</h2>
            <div class="top">
                {% for item in items%}
                    <div class="card" id="{{loop.index0}}">
                        <div class="cardImg">
                            <img src="{{item.recipe_url}}" alt="">
                        </div>
                        <div class="cardTitle">
                            <h3>{{item.name}}</h3>
                        </div>
                        
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>

       

        <script src="scripts.js"></script>


{% endblock %}
