<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foodfy</title>
        <link rel="stylesheet" type="text/css" href="/recipeinfo.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    </head>

    <body>
        <header>
            <div class="menu">
                <a href="/" id="title">Foodfy</a>
                <a href="/sobre">Sobre</a>
                <a href="/receitas">
                    <strong>Receitas</strong>
                </a>
            </div>
        </header>

        <div class="containerRecipeinfo">

            <div class="intro">
                <style>
                    .intro {
                        background-image: url("{{items.image}}");
                    }
                </style>
            </div>

            <div class="title">
                <h1>{{items.title}}</h1>
                <p>por
                    {{items.author}}</p>

            </div>

            <div class="ingredients">
                <h2>Ingredientes  </h2>
                <ul>
                    {%for item in items.ingredients%}
                        <li>{{item}}</li>
                        {%endfor%}
                </ul>

            </div>

            <div class="directions">
                <h2>Modo de preparo</h2>
                <ol>
                    {%for item in items.preparation%}
                        <li>{{item}}</li>
                        {%endfor%}
                    </ol>

            </div>

            <div class="add_info">
                <h2>Informações adicionais</h2>
               <p>{{items.information}}</p>

            </div>

        </div>

        <footer>
                <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>

        <script src="scripts.js"></script>
    </body>

</html>