<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foodfy</title>
        <link rel="stylesheet" href="recipes.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="menu">
                <a href="/" id="title">Foodfy</a>
                <a href="/sobre">Sobre</a>
                <a href="/receitas">
                    <strong>Receitas</strong>
                </a>
            </div>
        </header>
        <div class="container">
            {% for item in items%}
                <div class="card" id="{{loop.index0}}">
                    <div class="cardImg">
                        <img src="{{item.image}}" alt="">
                    </div>
                    <div class="cardTitle">
                        <h3>{{item.title}}</h3>
                    </div>
                    <div class="cardAuthor">
                        <p>por
                            {{item.author}}</p>
                    </div>
                </div>
                {%endfor%}
            </div>

            <script src="scripts.js"></script>
        </div>
        <div class="footer-box">
            <footer>
                <p>Todos os direitos reservados, receitas Foodfy</p>
            </footer>
        </div>
    </body>

</html>