* {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.menu {
    padding: 36.1px;
}

.menu a {
    color: #111111;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    font-family: 400;
    margin-right: 2.1%;
}


#title {
    color: #111111;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Sriracha';
    letter-spacing: 1.65px;
    margin-right: 8.7%;
    margin-left: 195px;
    margin-bottom: 5%;
}
.containerAbout{
    display: grid;
    grid-template-columns: 230px auto 230px;
    grid-template-rows: 354px 354px 200px;
    width: 1500px;
}

.first{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
}

.second{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.third{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
} 
.containerAbout h2{
    font-family: 700;
    font-size: 20px;
    color: #111111;
}

.containerAbout h1{
    font-family: 700;
    font-size: 24px;
    color: #111111;
}

.containerAbout p{
    margin-top: 20px;
    font-family: 400;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
}

footer{
    display: flex;
    background: #EEEEEE;
    height: 62px;
    justify-content: center;
    align-items: center;
    font-family: 400;   
    font-size: 14px;
    color: #999999;
}